h2.contactH2 {
    padding: 17px 12px;
    margin: auto;
    width: 180px;
    color: #78788c;
   
}

input.inputContact {
    width: 60%;
    padding: 10px;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2
}

input:focus {
    border-bottom: 2px solid #78788c;
}

p:before {
    content: attr(type);
    display: block;
    font-size: 14px;
    color: #5a5a5a
}

.buttonContainer {
    text-align: center;
}

button.contactButton {
    padding: 7px 9px;
    width: 100px;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #78788c;
    border-radius: 70px;
    color: #5a5a6e;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.07em;
    cursor: pointer;
   

}

button:hover {
    background: #78788c;
    color: #fff
}
